<div>
    <h2 id="page-heading">
        <span jhiTranslate="hcSampleApp.powerbank.home.title">Powerbanks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-powerbank"
            [routerLink]="['/powerbank/new']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="hcSampleApp.powerbank.home.createLabel">
                Create a new Powerbank
            </span>
        </button>
    </h2>

    <hc-alert-error></hc-alert-error>

    <hc-alert></hc-alert>

    <p-card styleClass="p-shadow-10 p-mt-6 p-mb-6 p-p-2">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h2 class="p-text-bold p-m-3 " jhiTranslate="hcSampleApp.station.searchCondition">Search
                    Condition
                </h2>
                <div>
                    <button pButton pRipple type="button" icon="pi pi-replay" (click)="resetCondition()"
                        class="p-button-rounded p-mr-6 p-button-danger p-button-outlined"></button>
                    <button pButton pRipple type="button" icon="pi pi-search" (click)="searching()"
                        class="p-button-rounded p-mr-6 p-button-info p-button-outlined"></button>
                </div>
            </div>
            <hr id="cutLine" class="p-d-none p-d-md-block">
        </ng-template>
        <form name="searchForm" role="form" novalidate [formGroup]="searchForm">
            <div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                        <h5 jhiTranslate="hcSampleApp.station.name">Name</h5>
                        <input type="text" pInputText id="name" name="name" formControlName="name">
                    </div>
                    <div class="p-field p-col">
                        <h5 jhiTranslate="hcSampleApp.station.desc">desc</h5>
                        <input type="text" pInputText id="desc" name="desc" formControlName="desc">
                    </div>
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                        <h5 jhiTranslate="hcSampleApp.station.postion">Position</h5>
                        <input type="text" pInputText id="position" name="position" formControlName="position">
                    </div>
                    <div class="p-field p-col">
                        <h5 jhiTranslate="hcSampleApp.station.enabled">Enabled</h5>
                        <p-dropdown [options]="enableds" [autoDisplayFirst]="false" formControlName="enabled"
                            id="enabled" name="enabled">
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </form>
    </p-card>

    <div class="alert alert-warning" id="no-result" *ngIf="powerbanks?.length === 0">
        <span jhiTranslate="hcSampleApp.powerbank.home.notFound">No powerbanks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="powerbanks && powerbanks.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="name"><span jhiTranslate="hcSampleApp.powerbank.name">Name</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="desc"><span jhiTranslate="hcSampleApp.powerbank.desc">Desc</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="type"><span jhiTranslate="hcSampleApp.powerbank.type">Type</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="position"><span
                            jhiTranslate="hcSampleApp.powerbank.position">Position</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="isUsing"><span jhiTranslate="hcSampleApp.powerbank.isUsing">Is
                            Using</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="enabled"><span
                            jhiTranslate="hcSampleApp.powerbank.enabled">Enabled</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="stationId"><span
                            jhiTranslate="hcSampleApp.powerbank.station">Station</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                [infiniteScrollDistance]="0">
                <tr *ngFor="let powerbank of powerbanks ;trackBy: trackId">
                    <td><a [routerLink]="['/powerbank', powerbank.id, 'view']">{{ powerbank.id }}</a></td>
                    <td>{{ powerbank.name }}</td>
                    <td>{{ powerbank.desc }}</td>
                    <td>{{ powerbank.type }}</td>
                    <td>{{ powerbank.position }}</td>
                    <td>{{ powerbank.isUsing }}</td>
                    <td>{{ powerbank.enabled }}</td>
                    <td>
                        <div *ngIf="powerbank.stationId">
                            <a [routerLink]="['/station', powerbank.stationId , 'view']">{{ powerbank.stationId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/powerbank', powerbank.id, 'view']"
                                class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit" [routerLink]="['/powerbank', powerbank.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(powerbank)" class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
