:host ::ng-deep {
    .p-card {
      border-radius: 18px;
    }
  }
  
  #entities {
    border-radius: 15px;
  }
  
  #cutLine {
    width: 25rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
  