<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="hc-photo-heading" jhiTranslate="hcSampleApp.photo.home.createOrEditLabel">Create or edit a Photo</h2>

            <div>
                <hc-alert-error></hc-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hcSampleApp.photo.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hcSampleApp.photo.desc" for="field_desc">Desc</label>
                    <input type="text" class="form-control" name="desc" id="field_desc"
                           formControlName="desc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hcSampleApp.photo.src" for="field_src">Src</label>
                    <input type="text" class="form-control" name="src" id="field_src"
                           formControlName="src"/>
                    <div *ngIf="editForm.get('src')!.invalid && (editForm.get('src')!.dirty || editForm.get('src')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('src')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hcSampleApp.photo.isPrivate" for="field_isPrivate">Is Private</label>
                    <input type="checkbox" class="form-control" name="isPrivate" id="field_isPrivate"
                           formControlName="isPrivate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hcSampleApp.photo.album" for="field_album">Album</label>
                    <select class="form-control" id="field_album" name="album" formControlName="albumId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="albumOption.id" *ngFor="let albumOption of albums; trackBy: trackById">{{ albumOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
