<div>
    <h2 id="page-heading">
        <span jhiTranslate="hcSampleApp.album.home.title">Albums</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-album"
            [routerLink]="['/album/new']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="hcSampleApp.album.home.createLabel">
                Create a new Album
            </span>
        </button>
    </h2>

    <hc-alert-error></hc-alert-error>

    <hc-alert></hc-alert>
    <p-card styleClass="p-shadow-10 p-mt-6 p-mb-6 p-p-2">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h2 class="p-text-bold p-m-3 " jhiTranslate="hcSampleApp.photo.searchCondition">Search
                    Condition
                </h2>
                <div>
                    <button pButton pRipple type="button" icon="pi pi-replay" (click)="resetCondition()"
                        class="p-button-rounded p-mr-6 p-button-danger p-button-outlined"></button>
                    <button pButton pRipple type="button" icon="pi pi-search" (click)="searching()"
                        class="p-button-rounded p-mr-6 p-button-info p-button-outlined"></button>
                </div>
            </div>
            <hr id="cutLine" class="p-d-none p-d-md-block">
        </ng-template>
        <form name="searchForm" role="form" novalidate [formGroup]="searchForm">
            <div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                        <h5 jhiTranslate="hcSampleApp.photo.name">Name</h5>
                        <input type="text" pInputText id="name" name="name" formControlName="name">
                    </div>
                    <div class="p-field p-col">
                        <h5 jhiTranslate="hcSampleApp.photo.desc">desc</h5>
                        <input type="text" pInputText id="desc" name="desc" formControlName="desc">
                    </div>
                </div>
            </div>
        </form>
    </p-card>
    <div class="alert alert-warning" id="no-result" *ngIf="albums?.length === 0">
        <span jhiTranslate="hcSampleApp.album.home.notFound">No albums found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="albums && albums.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="name"><span jhiTranslate="hcSampleApp.album.name">Name</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="desc"><span jhiTranslate="hcSampleApp.album.desc">Desc</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="detail"><span jhiTranslate="hcSampleApp.album.detail">Detail</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                [infiniteScrollDistance]="0">
                <tr *ngFor="let album of albums ;trackBy: trackId">
                    <td><a [routerLink]="['/album', album.id, 'view']">{{ album.id }}</a></td>
                    <td>{{ album.name }}</td>
                    <td>{{ album.desc }}</td>
                    <td>{{ album.detail }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/album', album.id, 'view']"
                                class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit" [routerLink]="['/album', album.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(album)" class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
